body
{
	background: url(https://i.imgur.com/DOfCNP6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

li
{
	border: 2px solid black;
}
#coding{
	color: white;
	background: url(https://i.imgur.com/mHlSFw1.jpg);
}

.same{
	color:white;
	background: url(https://i.imgur.com/kIYIWdM.jpg);
}