<!DOCTYPE html>
<html>
<head>
	<title>YelpStadium</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/stadiums" class="navbar-brand">YelpStadium</a>
			</div>
			<div class='collapse navbar-collapse'>
				<ul class="nav navbar-nav navbar-right">

					<% if(!currentUser) {%>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign Up</a></li>
					<% } else {%>
						<li><a href="#"> Signed in as: <%= currentUser.username%> </a></li>
						<li><a href="/logout">Log Out</a></li>
					<% }%>

				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<% if(error && error.length > 0) {%>
			<div class="alert alert-danger" role='alert'>
				<%=error%>
			</div>
		<% } %>

		<% if(success && success.length > 0) {%>
			<div class="alert alert-success" role='alert'>
				<%=success%>
			</div>		
		<% } %>

			
	</div>

