<h1>This is the secret page!</h1>

<p>You found me</p>

<img src="https://i.imgur.com/aXg6MgK.png?1">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>