.thumbnail img {
	width:100%;
}

.thumbnail {
	padding:0;
}

.thumbnail .caption-full {
	padding:9px;
}

.delete-form {
	display: inline;
}

.btn-success {
	margin-bottom: 5px;
}

/*#form {
	width:30%;
	text-align: center;
	float: center;
}*/
/*
h1{
	text-align: center;
}*/