<% include ../partials/header %>

<div class="container">
	<div class="row" id>
		<h1>Edit Comment</h1>
		<div style="width:30%; margin:25px auto">
			<form action='/stadiums/<%=stadium_id%>/comments/<%=comment.id%>?_method=PUT' method='POST'>
				<div class='form-group'>
					<input class='form-control' type="text" name="comment[text]" value="<%=comment.text%>">					
				</div>
				<div class='form-group' id='delete-form'>
					<button  class='btn btn-lg btn-primary btn-block'>Submit!</button>			
				</div>				
			</form>

			<a href="/stadiums">Back to Stadiums</a>					
		</div>

	</div>

</div>

<% include ../partials/footer %>