<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/new.css">

<div class="container">
	<div class="row" id>
		<h1>Add New Comment to <%= stadium.name %></h1>
		<div id='form'>
			<form action='/stadiums/<%= stadium.id%>/comments' method='POST'>
				<div class='form-group'>
					<input class='form-control' type="text" name="comment[text]" placeholder="text">					
				</div>
				<div class='form-group'>
					<button  class='btn btn-lg btn-primary btn-block'>Submit!</button>			
				</div>				
			</form>

			<a href="/stadiums">Back to Stadiums</a>					
		</div>

	</div>

</div>

<% include ../partials/footer %>