body {
	background-color: #232323;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}

.square {
	width: 30%;
	/*background: purple;*/
	margin: 1.66%;
	padding-bottom: 30%;
	float: left;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

h1 {
	text-align: center;
	line-height: 1.1;
	color: white;
	background-color: steelblue;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	padding: 20px 0;
}


#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

#message {
	color: steelblue;
	display: inline-block;
	width: 20%;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

.selected {
	background-color: steelblue;
	color: white;
}

#colorDisplay{
	font-size: 200%;
	text-transform: uppercase;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height:100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}


button:hover {
	color: white;
	background-color: steelblue;
}