#container {
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
}

h1 {
	background-color: #2657eb;
	color:white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.completed {
	color:grey;
	text-decoration: line-through;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	background: #de6161;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li {
	font-family: 'Roboto', sans-serif;
	background-color: white;
	height: 40px;
	font-weight: 100;
	color: #666;
}

li:nth-child(2n){
	background-color: #f7f7f7;
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2657eb;
	border: 3px solid rgba(0,0,0,0);

}

input:focus {
	background-color: white;
	border: 3px solid #2657eb;
	outline: none;
}

.fa-plus{
	float:right;
}

li span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	padding-top: 10px;
	box-sizing: border-box;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}