<% include partials/header %>


<div class ='ui main text container segment'>
	<div class = 'ui huge header'><%= blog.title %></div>
	<div class='ui top attached'>
		<div class='item'>
			<img class='ui centered rounded image' src="<%=blog.image%>">
			<div class='content'>
				<span> <%= blog.created.toDateString() %> </span>
			</div>
			<div class="description">
				<p> <%= blog.body %></p>	
			</div>		
		</div>
	</div>
	<a class='ui orange basic big button' href="/blogs/<%=blog.id%>/edit"><i class="edit icon"></i>Edit</a>
	<form id='delete' action="/blogs/<%=blog.id%>?_method=DELETE" method='POST'>
		<button class='ui red big basic button'>Delete</button>
	</form>			
</div>

<% include partials/footer %>