<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/new.css">

<div class="container">
	<div class="row" id='form'>
		<h1>Edit <%=stadium.name%></h1>
		<div >
			<form action='/stadiums/<%=stadium.id%>/?_method=PUT' method='POST'>
				<div class='form-group'>
					<input class='form-control' type="text" name="stadium[name]" value="<%=stadium.name%>">					
				</div>
				<div class='form-group'>
					<input class='form-control' type="text" name="stadium[image]" value="<%=stadium.image%>">				
				</div>
				<div class='form-group'>
					<input class='form-control' type="text" name="stadium[description]" value="<%=stadium.description%>">				
				</div>
				<div class='form-group'>
					<button  class='btn btn-lg btn-primary btn-block'>Submit!</button>			
				</div>				
			</form>

			<a href="/stadiums">Back to Stadiums</a>					
		</div>

	</div>

</div>

<% include ../partials/footer %>