<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="/stadiums.css">

<div class="container">
	<header class="jumbotron">
		<div class="container">

			<h1>Stadiums Page</h1>
			<p>Stadiums from all around the world!</p>
			<p>
				<a class='btn btn-primary btn-large' href="/stadiums/new">Want to add your favorite stadium? Click Here</a>
			</p>
		</div>
	</header>

	<div class = 'row text-center' style="display:flex; flex-wrap:wrap;">
		<% stadiums.forEach(function(stadium){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src='<%= stadium.image%>'>
					<div class="caption">
						<h4> <strong><%= stadium.name %></strong> </h4>
					</div>
					<p>
						<a href="/stadiums/<%= stadium.id %>" class='btn btn-primary'>More Info</a>
					</p>					
				</div>

			</div>
		<% }); %>
	</div>
		
</div>


<% include ../partials/footer %>