<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/new.css">

<div class="container">
	<div class="row" id='form'>
		<h1>Add Your Favorite Stadium</h1>
		<div >
			<form action='/stadiums' method='POST'>
				<div class='form-group'>
					<input class='form-control' type="text" name="name" placeholder="name">					
				</div>
				<div class='form-group'>
					<input class='form-control' type="text" name="image" placeholder="image url">				
				</div>
				<div class='form-group'>
					<input class='form-control' type="text" name="description" placeholder="description">				
				</div>
				<div class='form-group'>
					<button  class='btn btn-lg btn-primary btn-block'>Submit!</button>			
				</div>				
			</form>

			<a href="/stadiums">Back to Stadiums</a>					
		</div>

	</div>

</div>

<% include ../partials/footer %>