<% include ../partials/header %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class='lead'>YelpStadium</p>
			<div class="list-group">
				<li class="list-group-item">Info</li>
				<li class="list-group-item">Info</li>
				<li class="list-group-item">Info</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="image-responsive" src="<%=stadium.image%>">	
				<div class='caption-full'>
					<h4 class="pull-right">Avg. Ticket Price: $50</h4>
					<h4><a href="/stadiums/<%= stadium.id %>"><%= stadium.name %> </a></h4>
					<p> <%= stadium.description %> </p>
					<p> <em>Submitted By: <%= stadium.author.username %> </em></p>
					<%if(currentUser && stadium.author.id.equals(currentUser.id)) {%>
						<a class="btn btn-warning" href="/stadiums/<%=stadium.id%>/edit">Edit</a>
						<form class='delete-form' action="/stadiums/<%=stadium.id%>?_method=DELETE" method="POST">
							<button class="btn btn-danger">Delete</button>
						</form>
					<% } %>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a class='btn btn-success' href="/stadiums/<%=stadium.id%>/comments/new">Add New Comment</a>
				</div>
				
				<%stadium.comments.forEach(function(comment){%>
				<div class="row">
					<div class="col-md-12">
						<strong><%= comment.author.username %></strong>
						<span class="pull-right">10 days ago</span>
						<p> 
							<%= comment.text%>
						</p>
						<%if(currentUser && comment.author.id.equals(currentUser.id)){ %>
							<a class="btn btn-xs btn-warning" href="/stadiums/<%=stadium.id%>/comments/<%=comment.id%>/edit">Edit</a>
							<form class='delete-form' action="/stadiums/<%=stadium.id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
								<input type='submit' class="btn btn-xs btn-danger" value="Delete">
							</form>
						<% } %>
					</div>
				</div>

				<%});%>				
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>